
body {
    background-color:grey;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
}

.bluetext{
    color:blue;
    text-align:center;
    display:block
}
.imgedit{
    width: 50%;
    display:block;
    margin:auto;

}


h3{
color: cornflowerblue;
}
